.HomePage {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	flex: 1;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
