import { Component } from 'solid-js'

import styles from './{{ pascalCase name }}.module.css'

const {{ pascalCase name }}: Component<{}> = (props) => 
	<div class={styles.{{ pascalCase name }}}></div>

